#container {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: repeat(3, 50px);
    grid-template-areas:
        "header header header"
        "menu main right"
        "menu footer footer";
    background-color: #ff5151;
    gap: 3px;
}
.item {
    background-color: #ffc6c6;
    text-align: center;
}
#header {
    grid-area: header;
}
#menu {
    grid-area: menu;
}
#main {
    grid-area: main;
}
#right {
    grid-area: right;
}
#footer {
    grid-column: footer;
}
@media screen and (max-width: 640px) {
    #container {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 50px);
        grid-template-areas:
            "header"
            "menu"
            "main"
            "right"
            "footer";
    }
}